#xy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#xy-box #xy-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#xy-box #xy-index {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.xy-title-bar {
    width: -webkit-fill-available;
    height: 1.8rem;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    padding-left: 1rem;
}

#xy-box #xy-index #xy-player #xy-player-info{
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    padding-left: 1rem;
}

#xy-player-info-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#xy-player-info-attr{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-left: 2rem;
}

#xy-player-info-name div{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
}

#xy-player-info-name div img {
    width: 100%;
    height: 100%;
}

#xy-fight-info span{
    margin-right: 1.5rem;
}

#xy-equip-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

#xy-menu a {
    margin-right: 1rem;
}

#xy-experience-show {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    overflow-y: scroll;
    white-space: pre-line;
}

.attack-span {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    width: 60px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    user-select: none;
}

.attack {
    border-bottom: none;
}

.attack-bg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: red;
    /* width: 60px; */
    height: 100%;
}

.monster-info {
    display: inline-block;
    width: 150px;
}

.fill-width{
    width: -webkit-fill-available;
}

.xya {
    color: #5FB878;
}
  
.xyb {
    color: #FFB800;
}
  
.xyc {
    color: #1E9FFF;
}
  
.xyd {
    color: #E85E2B;
}
  
.xye {
    color: red;
}
  
.xyf {
    color: blue;
}
  
.xyg {
    color: #AF806F;
}
  
.xyh {
    color: #D581C5;
}
  
.xyi {
    color: rgb(255, 136, 0);
}